body {
  background-color: #fe7f01;
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: white;
}

.burger {
  padding: 8px 0;
  background: #faebd7;
}
  
.img-responsive {
  margin: 0 auto;
  max-width: 200px;
}

.row {
  margin: 8px 0;
}

#bn {
  max-width: 200px;
  margin: 0px auto 10px auto;
}